.card-inference {
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 56%);
    max-width: 500px;
    min-width: 300px;
}

.bg-gradient-blue {
    background: linear-gradient( 87deg, #5e72e4 0, #825ee4 100%) !important;
}

.result-canvas,
.drawing-canvas,
.loading-comp {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border : 1px solid #dee2e6; 
}

.file-input-label-container {
    z-index: 1;
}

.loading-comp {
    display: flex;
    z-index: 2;
}

.loading-comp[data-loaded=true] {
    display: none;
}

.canvas-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.result-container {
    position: relative;
    width: 60%;
    padding-bottom: 60%;
}
.button-container {
    width: 40%;
    align-items : center;
}

#erase-button {
    width : 95%;
}

.contents {
    padding: 2.5%;
}

input[type='file'] {
    display: none;
}
